---
import Section from '@/components/Section.astro'
import Text from '@/components/Text.astro'
import Badge from '@/components/Badge.astro'
import BentoCard from '@/components/Cards/BentoCard.astro'
import Glow from '@/components/Misc/Glow.astro'

import type { CMSMediaCard } from '@/types/content'

export interface Props {
  id: string
  badge: string
  title: string
  cards: CMSMediaCard[]
}

const { id, badge, title, cards = [] } = Astro.props

const getBentoItemClasses = (index: number) => {
  const rowSpan = index % 2 === 0 ? 'md:row-span-3' : 'md:row-span-2'
  const colStart = ['md:col-start-1', 'md:col-start-2', 'md:col-start-3'][
    index % 3
  ]
  const fixRowSpan = index === 4 ? 'md:row-start-3' : ''

  return [rowSpan, colStart, fixRowSpan]
}
---

<Section
  id={id}
  class='relative'>
  <Glow class='absolute -top-32 left-1/2 -translate-x-1/2' size={'xl'} color={'neutral'}/>

  <div class='relative flex flex-col items-center gap-6 mb-12'>
    <Badge text={badge} />

    <Text
      tag={'h2'}
      variant={'title'}
      innerHTML={title}
    />
  </div>

  <ul class='relative grid md:grid-cols-3 grid-cols-2 md:gap-6 gap-4'>
    {
      cards.map((card, index) => (
        <li class:list={getBentoItemClasses(index)}>
          <BentoCard
            {...card}
            variant={[0, 3, 4].includes(index) ? 'absolute' : 'float'}
          />
        </li>
      ))
    }
  </ul>
</Section>
