@import 'tailwindcss';

@theme inline {
  /* Brand Font families */
  --font-title: var(--font-bebas-neue);
  --font-body: var(--font-roboto);
}

@theme {
  --animate-marquee: marquee 30s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@theme {
  /* Brand Text size */
  --text-5xl: 5.5rem; /* 88px */
  --text-5xl--line-height: 1;

  --text-4xl: 4.375rem; /* 70px */
  --text-4xl--line-height: 1;

  --text-3xl: 2.5rem; /* 40px */
  --text-3xl--line-height: 2.5rem;

  --text-2xl: 1.75rem; /* 28px */
  --text-2xl--line-height: 2rem;

  --text-xl: 1.5rem; /* 24px */
  --text-xl--line-height: 1.75rem;

  --text-lg: 1.25rem; /* 20px */
  --text-lg--line-height: 1.5rem;

  --text-md: 1rem; /* 16px */
  --text-md--line-height: 1.25rem;

  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1rem;

  --text-xs: 0.688rem; /* 11px */
  --text-xs--line-height: 1rem;

  /* Brand Colors */
  --color-primary: #38b6ff;
  --color-primary-50: #eff8ff;
  --color-primary-100: #dff0ff;
  --color-primary-200: #b8e3ff;
  --color-primary-300: #78cdff;
  --color-primary-400: #38b6ff;
  --color-primary-500: #069af1;
  --color-primary-600: #007ace;
  --color-primary-700: #0061a7;
  --color-primary-800: #02528a;
  --color-primary-900: #084572;
  --color-primary-950: #062b4b;
  --color-primary-1000: #04060c;

  --color-secondary: #ff6a00;
  --color-secondary-50: #fff8ec;
  --color-secondary-100: #fff0d3;
  --color-secondary-200: #ffdea5;
  --color-secondary-300: #ffc56d;
  --color-secondary-400: #ffa032;
  --color-secondary-500: #ff830a;
  --color-secondary-600: #ff6a00;
  --color-secondary-700: #cc4c02;
  --color-secondary-800: #a13b0b;
  --color-secondary-900: #82330c;
  --color-secondary-950: #461704;

  --color-neutral-50: #ffffff;
  --color-neutral-100: #efefef;
  --color-neutral-200: #dcdcdc;
  --color-neutral-300: #bdbdbd;
  --color-neutral-400: #989898;
  --color-neutral-500: #7c7c7c;
  --color-neutral-600: #656565;
  --color-neutral-700: #525252;
  --color-neutral-800: #464646;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #292929; 

  --color-special-850: #49607C;

  --gradient-primary: 177.36deg, #38b6ff 16%, #d4edf7 71%;
  --gradient-secondary: 163.28deg, #ff6a00 0%, #ffa666 100%;
  --gradient-special-text: 91deg, #afdcfb 0%, #feffff 58%, #afdcfb 100%;
  --gradient-special-title: 91deg, #D4EDF7 0%, #f1f9fe 58%, #D4EDF7 100%;
  --gradient-special-badge: 90deg, #82FFFF -28.21%, #ABD1E8 42.63%, #82FFFF 113.46%;
  --gradient-special-stroke: 90deg, #38b6ff82 0%, #b1e2f8 54%, #38b6ff82 100%;

  --shadow-to-r: 10px 0px 32px;
  --inset-shadow-card: inset -6px -28px 32px 6px, inset 6px -28px 32px 6px;
  --inset-shadow-card-sm: inset -3px -14px 32px 3px, inset 3px -14px 32px 3px;

  --animate-wiggle: wiggle 10s ease-in-out infinite;
  --animate-shine: shine 10s ease-out infinite;

  --blur-4xl: 128px;
}

@keyframes shine {
  0%,
  85% {
    left: -50%;
    top: -50%;
  }
  100% {
    left: 150%;
    top: 150%;
  }
}

@keyframes wiggle {
  0%,
  88% {
    transform: none;
  }
  89% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  91% {
    transform: rotate(-5deg);
  }
  92% {
    transform: rotate(5deg);
  }
  93% {
    transform: none;
  }
}
