---
interface Props {
  id?: string
}

const { id } = Astro.props
---

<div
  class='flex space-x-3 md:hidden md:order-2 md:space-x-0 rtl:space-x-reverse'>
  <button
    id={id}
    type='button'
    class='inline-flex items-center justify-center w-10 h-10 p-2 text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-white text-white'
    aria-controls={id}
    aria-expanded='false'>
    <svg
      class='w-5 h-5'
      aria-hidden='true'
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 17 14'>
      <path
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M1 1h15M1 7h15M1 13h15'
      ></path>
    </svg>
    
  </button>
</div>
