---
import Text from '@/components/Text.astro'

interface Props {
  href?: string
}

const { href = '#' } = Astro.props
---

<li>
  <Text
    tag='a'
    variant={'badge'}
    href={href}
    class='block px-3 py-2 rounded-sm md:p-0'
    aria-current='page'>
    <slot />
  </Text>
</li>
