---
export const wrapperStyles = {
  normal: 'py-16 md:py-32',
  small: 'py-8 md:py-16',
  none: '',
}

export const colorStyles = {
  default: 'bg-primary-1000',
  specialToBottom: 'bg-gradient-to-b from-primary-1000 to-80% to-special-850',
  specialToTop: 'bg-gradient-to-t from-primary-1000 to-special-850',
  none: '',
}

export type Variant = keyof typeof wrapperStyles
export type Color = keyof typeof colorStyles

export interface Props {
  id?: string
  bgImage?: string
  class?: string
  containerClass?: string
  tag?: 'section' | 'header' | 'footer' | 'div' | 'aside'
  variant?: Variant
  color?: Color
}

const {
  id,
  class: className,
  containerClass,
  variant = 'normal',
  color = 'default',
  tag: Tag = 'section',
} = Astro.props

const wrapperClass = wrapperStyles[variant]
const colorClass = colorStyles[color]
---

<Tag
  id={id}
  class:list={[wrapperClass, className, colorClass]}>
  <slot name='before' />

  <div
    class='px-4 md:px-0 md:max-w-7xl md:mx-auto'
    class:list={[containerClass]}>
    <slot />
  </div>

  <slot name='after' />
</Tag>
